/* h1 {
    color: greenyellow;
} */

body {
    background-color: aqua;
}

h1 {
    color: black;
}

p {
    color: rgb(40, 20, 112);
}

.mustang {
    background-color: green;
    color: black;
}


/* .turma {} */