/* h1 {
    color: greenyellow;

} */

body {
    background-color: aqua;
}

h1 {
    color: black;
}

p {
    color: rgb(40, 20, 112);
}

.mustang {
    background-color: green;
    color: black;
}


/* .turma {} */

}


.fontelegal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    background-color: darkslategray;
}
.cabecalho{



}

